orderssystem_core/Local.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
      elementFormDefault="qualified" attributeFormDefault="unqualified">
      <xs:element name="localization">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="modifyUser"/>
            <xs:element type="xs:string" name="userEnabled"/>
            <xs:element type="xs:string" name="SubmitVariations"/>
            <xs:element type="xs:string" name="SelectableComments"/>
            <xs:element type="xs:string" name="ExistingComment"/>
            <xs:element type="xs:string" name="Reset"/>
            <xs:element type="xs:string" name="CommentsFor"/>
            <xs:element type="xs:string" name="AddSelectableVariation"/>
            <xs:element type="xs:string" name="AddSelectableVariationsFor"/>
            <xs:element type="xs:string" name="ExistingComments"/>
            <xs:element type="xs:string" name="AddSelectableComment"/>
            <xs:element type="xs:string" name="AddStandardCommentFor"/>
            <xs:element type="xs:string" name="AreYouSureVoidOrder"/>
            <xs:element type="xs:string" name="OrderItemsInProgress"/>
            <xs:element type="xs:string" name="UserIsNotEnabled"/>
            <xs:element type="xs:string" name="SwitchVisibility"/>
            <xs:element type="xs:string" name="SubCategory"/>
            <xs:element type="xs:string" name="AddSubCategoryOf"/>
            <xs:element type="xs:string" name="Choose"/>
            <xs:element type="xs:string" name="StandardVariation"/>
            <xs:element type="xs:string" name="StandardVariations"/>
            <xs:element type="xs:string" name="ExistingSubCategories"/>
            <xs:element type="xs:string" name="AddSubCategory"/>
            <xs:element type="xs:string" name="MergeWithFatherCategory"/>
            <xs:element type="xs:string" name="ErrorUnexistingCategory"/>
            <xs:element type="xs:string" name="CreateCourse"/>
            <xs:element type="xs:string" name="BackToOrder"/>
            <xs:element type="xs:string" name="FatherCategory"/>
            <xs:element type="xs:string" name="SubCategories"/>
            <xs:element type="xs:string" name="LogOn"/>
            <xs:element type="xs:string" name="CouldNotFindTheRequestedResource"/>
            <xs:element type="xs:string" name="SearchCourse"/>
            <xs:element type="xs:string" name="PageNotFound"/>
            <xs:element type="xs:string" name="ModifySelectableStandardVariations"/>
            <xs:element type="xs:string" name="SelectableStandardVariations"/>
            <xs:element type="xs:string" name="ModifySelectableStandardComments"/>
            <xs:element type="xs:string" name="SelectableStandardComments"/>
            <xs:element type="xs:string" name="EditUser"/>
            <xs:element type="xs:string" name="Insert"/>
            <xs:element type="xs:string" name="NewComment"/>
            <xs:element type="xs:string" name="StandardComments"/>
            <xs:element type="xs:string" name="TimeStamp"/>
            <xs:element type="xs:string" name="ProgressivePrintCounterForThisReceipt"/>
            <xs:element type="xs:string" name="CantAddAnotherAdmin"/>
            <xs:element type="xs:string" name="UserNameIsTaken"/>
            <xs:element type="xs:string" name="ACategoryNamed"/>
            <xs:element type="xs:string" name="ACourseNamed"/>
            <xs:element type="xs:string" name="NameIsUsed"/>
            <xs:element type="xs:string" name="AlreadyExists"/>
            <xs:element type="xs:string" name="ModifyUser"/>
            <xs:element type="xs:string" name="UserEnabled"/>
            <xs:element type="xs:string" name="UserCanVoidOrder"/>
            <xs:element type="xs:string" name="UserCanSeeAnyOrder"/>
            <xs:element type="xs:string" name="UserCanChangePrices"/>
            <xs:element type="xs:string" name="UserCanManageCourses"/>
            <xs:element type="xs:string" name="EditCategory"/>
            <xs:element type="xs:string" name="Course"/>
            <xs:element type="xs:string" name="Name"/>
            <xs:element type="xs:string" name="SaveChanges"/>
            <xs:element type="xs:string" name="GoBack"/>
            <xs:element type="xs:string" name="GoBackTo"/>
            <xs:element type="xs:string" name="AccountInformation"/>

            <xs:element type="xs:string" name="AddIngredientTo"/>
            <xs:element type="xs:string" name="Ingredient"/>
            <xs:element type="xs:string" name="NameBySelection"/>
            <xs:element type="xs:string" name="NameByFreeText"/>
            <xs:element type="xs:string" name="Quantity"/>
            <xs:element type="xs:string" name="Add"/>
            <xs:element type="xs:string" name="Info"/>
            <xs:element type="xs:string" name="CollapseOrderItems"/>
            <xs:element type="xs:string" name="Price"/>
            <xs:element type="xs:string" name="Description"/>
            <xs:element type="xs:string" name="Visibility"/>
            <xs:element type="xs:string" name="Category"/>
            <xs:element type="xs:string" name="saveChanges"/>
            <xs:element type="xs:string" name="ExistingIngredients"/>
            <xs:element type="xs:string" name="CategoriesOfIngredientsYouCanAdd"/>
            <xs:element type="xs:string" name="AddAmong"/>
            <xs:element type="xs:string" name="AddAmongAll"/>
            <xs:element type="xs:string" name="MainPage"/>
            <xs:element type="xs:string" name="ChangePasswordFor"/>
            <xs:element type="xs:string" name="ChangePassword"/>
            <xs:element type="xs:string" name="OldPassword"/>
            <xs:element type="xs:string" name="ConfirmPassword"/>
            <xs:element type="xs:string" name="CreateNewAccount"/>
            <xs:element type="xs:string" name="FillData"/>
            <xs:element type="xs:string" name="Role"/>
            <xs:element type="xs:string" name="CanSeeAllOrders"/>
            <xs:element type="xs:string" name="CanOverWritePrices"/>
            <xs:element type="xs:string" name="Error"/>
            <xs:element type="xs:string" name="AnErrorOccurred"/>
            <xs:element type="xs:string" name="ConnectedUser"/>
            <xs:element type="xs:string" name="UserRole"/>
            <xs:element type="xs:string" name="CourseCategoriesManagement"/>
            <xs:element type="xs:string" name="AllCourses"/>
            <xs:element type="xs:string" name="Manage"/>
            <xs:element type="xs:string" name="Missing"/>
            <xs:element type="xs:string" name="Table"/>
            <xs:element type="xs:string" name="Group"/>
            <xs:element type="xs:string" name="Receipt"/>
            <xs:element type="xs:string" name="Bill"/>
            <xs:element type="xs:string" name="Reject"/>
            <xs:element type="xs:string" name="RejectOrderItem"/>
            <xs:element type="xs:string" name="Motivation"/>
            <xs:element type="xs:string" name="Submit"/>
            <xs:element type="xs:string" name="ActionableStatesForUser"/>
            <xs:element type="xs:string" name="Disable"/>
            <xs:element type="xs:string" name="Enable"/>
            <xs:element type="xs:string" name="ActionableStatesForWaiters"/>
            <xs:element type="xs:string" name="ActionableStatesForTemporaryUsers"/>
            <xs:element type="xs:string" name="Total"/>
            <xs:element type="xs:string" name="VariationOverPriceDiscount"/>
            <xs:element type="xs:string" name="Value"/>
            <xs:element type="xs:string" name="Percentage"/>
            <xs:element type="xs:string" name="VoidDiscounts"/>
            <xs:element type="xs:string" name="TheEnd"/>
            <xs:element type="xs:string" name="Ingredients"/>
            <xs:element type="xs:string" name="ConfirmGroup"/>
            <xs:element type="xs:string" name="PrintGroup"/>
            <xs:element type="xs:string" name="ReprintGroup"/>
            <xs:element type="xs:string" name="NewOrder"/>
            <xs:element type="xs:string" name="Order"/>
            <xs:element type="xs:string" name="UnArchiveLatest"/>
            <xs:element type="xs:string" name="TotalDiscounted"/>
            <xs:element type="xs:string" name="Archive"/>
            <xs:element type="xs:string" name="Modify"/>
            <xs:element type="xs:string" name="Subdivide"/>
            <xs:element type="xs:string" name="Invoice"/>
            <xs:element type="xs:string" name="All"/>
            <xs:element type="xs:string" name="Variations"/>
            <xs:element type="xs:string" name="Variation"/>
            <xs:element type="xs:string" name="IngredientToAdd"/>
            <xs:element type="xs:string" name="CourseBySelection"/>
            <xs:element type="xs:string" name="CourseByFreeText"/>
            <xs:element type="xs:string" name="ExitGroup"/>
            <xs:element type="xs:string" name="Comment"/>
            <xs:element type="xs:string" name="Person"/>
            <xs:element type="xs:string" name="AddOrder"/>
            <xs:element type="xs:string" name="ChangeTo"/>
            <xs:element type="xs:string" name="Update"/>
            <xs:element type="xs:string" name="NewCategory"/>
            <xs:element type="xs:string" name="CreateNewCourse"/>
            <xs:element type="xs:string" name="ManageCategories"/>
            <xs:element type="xs:string" name="AddCategory"/>
            <xs:element type="xs:string" name="StoredCategories"/>
            <xs:element type="xs:string" name="ManageCourses"/>
            <xs:element type="xs:string" name="StoredCourses"/>
            <xs:element type="xs:string" name="ManageVisibleCoursesOfCategory"/>
            <xs:element type="xs:string" name="SeeAll"/>
            <xs:element type="xs:string" name="AddNew"/>
            <xs:element type="xs:string" name="VisibleCoursesOfCategory"/>
            <xs:element type="xs:string" name="ClickToChange"/>
            <xs:element type="xs:string" name="AllTheItems"/>
            <xs:element type="xs:string" name="VisibleOfCategory"/>
            <xs:element type="xs:string" name="Visibles"/>
            <xs:element type="xs:string" name="AddNewItem"/>
            <xs:element type="xs:string" name="CoursesOfCategory"/>
            <xs:element type="xs:string" name="AllVisibleCoursesOfCategory"/>
            <xs:element type="xs:string" name="ClickToSeeAllVisibleCoursesOfCategory"/>
            <xs:element type="xs:string" name="AddQuantityIn"/>
            <xs:element type="xs:string" name="ModifyIngredient"/>
            <xs:element type="xs:string" name="Allergen"/>
            <xs:element type="xs:string" name="UpdateAvailability"/>
            <xs:element type="xs:string" name="CheckAvailability"/>
            <xs:element type="xs:string" name="MeasuringSystem"/>
            <xs:element type="xs:string" name="all"/>
            <xs:element type="xs:string" name="NewIngredient"/>
            <xs:element type="xs:string" name="AvailablQuantity"/>
            <xs:element type="xs:string" name="VisibleCategoriesOfIngredients"/>
            <xs:element type="xs:string" name="CreateNewCategory"/>
            <xs:element type="xs:string" name="VisibleExistingCategories"/>
            <xs:element type="xs:string" name="ManagePrinters"/>
            <xs:element type="xs:string" name="DeletePrinters"/>
            <xs:element type="xs:string" name="DetectPrinters"/>
            <xs:element type="xs:string" name="AllCategoriesOfIngredients"/>
            <xs:element type="xs:string" name="ExistingCategories"/>
            <xs:element type="xs:string" name="TemporaryUser"/>
            <xs:element type="xs:string" name="CreateTemporaryUsers"/>
            <xs:element type="xs:string" name="NameOrTable"/>
            <xs:element type="xs:string" name="ManageTemporaryUsers"/>
            <xs:element type="xs:string" name="ManageUsers"/>
            <xs:element type="xs:string" name="AddUser"/>
            <xs:element type="xs:string" name="LinkStates"/>
            <xs:element type="xs:string" name="RegenerateTempUser"/>
            <xs:element type="xs:string" name="UserExpired"/>
            <xs:element type="xs:string" name="TheName"/>
            <xs:element type="xs:string" name="DeletionPage"/>
            <xs:element type="xs:string" name="WarningDeletion"/>
            <xs:element type="xs:string" name="DeleteUsers"/>
            <xs:element type="xs:string" name="DeleteTemporaryUsers"/>
            <xs:element type="xs:string" name="DeleteCourses"/>
            <xs:element type="xs:string" name="DeleteCourseCategories"/>
            <xs:element type="xs:string" name="DeleteRoles"/>
            <xs:element type="xs:string" name="DeleteIngredients"/>
            <xs:element type="xs:string" name="DeleteIngredientCategories"/>
            <xs:element type="xs:string" name="Delete"/>
            <xs:element type="xs:string" name="Remove"/>
            <xs:element type="xs:string" name="RoleName"/>
            <xs:element type="xs:string" name="CreateRole"/>
            <xs:element type="xs:string" name="AllTheOrders"/>
            <xs:element type="xs:string" name="CourseCategories"/>
            <xs:element type="xs:string" name="ManageRoles"/>
            <xs:element type="xs:string" name="ManageIngredients"/>
            <xs:element type="xs:string" name="ManageOrdinaryUsers"/>
            <xs:element type="xs:string" name="ManagePayments"/>
            <xs:element type="xs:string" name="AddIngredient"/>
            <xs:element type="xs:string" name="OriginalPrice"/>
            <xs:element type="xs:string" name="RecalculatedPrice"/>
            <xs:element type="xs:string" name="ExistingVariations"/>
            <xs:element type="xs:string" name="VoidIt"/>
            <xs:element type="xs:string" name="PossibleVariations"/>
            <xs:element type="xs:string" name="Confirm"/>
            <xs:element type="xs:string" name="VoidOrder"/>
            <xs:element type="xs:string" name="ActiveOrders"/>
            <xs:element type="xs:string" name="SeeIngredientUsages"/>
            <xs:element type="xs:string" name="OrdinaryQuantity"/>
            <xs:element type="xs:string" name="SeeComsumptionStartingFrom"/>
            <xs:element type="xs:string" name="StartingFrom"/>
            <xs:element type="xs:string" name="Visualize"/>
            <xs:element type="xs:string" name="PriceForIngredient"/>
            <xs:element type="xs:string" name="AddPrice"/>
            <xs:element type="xs:string" name="SubtractPrice"/>
            <xs:element type="xs:string" name="IsDefaultAddQuantity"/>
            <xs:element type="xs:string" name="IsDefaultSubtractQuantity"/>
            <xs:element type="xs:string" name="AllIngredientsOfCategory"/>
            <xs:element type="xs:string" name="SearchByName"/>
            <xs:element type="xs:string" name="Search"/>
            <xs:element type="xs:string" name="ViewUsages"/>
            <xs:element type="xs:string" name="Load"/>
            <xs:element type="xs:string" name="AddIngredientPrice"/>
            <xs:element type="xs:string" name="Button"/>
            <xs:element type="xs:string" name="SixToTwentyChars"/>
            <xs:element type="xs:string" name="IsAbstract"/>
            <xs:element type="xs:string" name="ChangeVisibility"/>
            <xs:element type="xs:string" name="SeeOnlyVisibles"/>
            <xs:element type="xs:string" name="UserName"/>
            <xs:element type="xs:string" name="DefaultStatesForWaiter"/>
            <xs:element type="xs:string" name="DefaultStatesForTemporaryUsers"/>
            <xs:element type="xs:string" name="ListOfExistingRoles"/>
            <xs:element type="xs:string" name="EnableState"/>
            <xs:element type="xs:string" name="ViewStates"/>
            <xs:element type="xs:string" name="AccessRights"/>
            <xs:element type="xs:string" name="Optimization"/>
            <xs:element type="xs:string" name="Deletions"/>
            <xs:element type="xs:string" name="Orders"/>
            <xs:element type="xs:string" name="Logoff"/>
            <xs:element type="xs:string" name="OrderItemStates"/>
            <xs:element type="xs:string" name="Yes"/>
            <xs:element type="xs:string" name="No"/>
            <xs:element type="xs:string" name="IsDefaultAddAndSubtractQuantity"/>
            <xs:element type="xs:string" name="AddRole"/>
            <xs:element type="xs:string" name="Merge"/>
            <xs:element type="xs:string" name="RollBackLatestVoided"/>
            <xs:element type="xs:string" name="allTheOrders"/>
            <xs:element type="xs:string" name="MyOwn"/>
            <xs:element type="xs:string" name="OfOthers"/>
            <xs:element type="xs:string" name="CoursesOfType"/>
            <xs:element type="xs:string" name="Find"/>
            <xs:element type="xs:string" name="InChargeBy"/>
            <xs:element type="xs:string" name="ExistingStandardVariation"/>
            <xs:element type="xs:string" name="Prices"/>
            <xs:element type="xs:string" name="Courses"/>


          </xs:sequence>
        </xs:complexType>
     </xs:element>
</xs:schema>